.off-canvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    min-height: 100vh;
    padding: 1em;
    background-color: #342df2;
}

.menu-items li {
    margin: 1rem 0;
    list-style: none;
}

.menu-items li a {
    display: block;
    padding: 1em;
    color: #fff;
}

.menu-items li a:hover {
    background-color: #6862ff;
}

.main-content {
    min-height: 100vh;
    padding-left: 340px;
}

.insights {
    display: flex;
    flex-wrap: wrap;
}

.insight-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 300px;
    min-height: 200px;
    margin: 1rem;
    border-radius: 10px;
}

.insight-box:nth-child(odd) {
    background-color: #342df2;
    color: #fff;
}

.insight-box:nth-child(even) {
    background-color: #fff;
    color: #111;
}

.table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #342df2;
    color: white;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table tr:last-child td {
    border-bottom: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: #fff;
}

.modal-content {
    width: 100%;
    height: 100%;
}